

      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Caiet comenzi</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#/home" ng-class="location.$$url == '/home' ? 'active' : ''">Home</a></li>
              <li ng-if="!auth.isLoggedIn"><a href="#/order-status" ng-class="location.$$url == '/order-status' ? 'active' : ''">Order status</a></li>
              <li ng-if="auth.isLoggedIn"><a href="#/dasboard" ng-class="location.$$url == '/dashboard' ? 'active' : ''">Dashboard </a></li>
  
              <!-- <li><a ng-href="#/about" ng-class="location.$$url == '/about' ? 'active' : ''">About</a></li> -->
              <li><a ng-href="#/admin" ng-class="location.$$url == '/admin' ? 'active' : ''" ng-if=" auth.isLoggedIn && (auth.user.id_user_type == '1' || auth.user.id_user_type == '2' )">Admin</a></li>
              <!-- owner este user_type 2, admin este 1, angajat 3 -->
              <li><a ng-href="#/audit" ng-class="location.$$url == '/audit' ? 'active' : ''" ng-if=" auth.isLoggedIn && (auth.user.id_user_type == '1' || auth.user.id_user_type == '2')">Audit</a></li>
              <li><a ng-href="#/login" ng-if="!auth.isLoggedIn" ng-class="location.$$url == '/login' ? 'active' : ''">Login</a></li>
              <li><a ng-click="logout();" ng-if="auth.isLoggedIn">Logout</a></li>
              </ul>
              <span style="float:right; font-size:24px; padding-left:7px; margin-top:10px">
                 <span class="dropdown">
                    <i class="fa fa-cog" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu" style="    margin-top: 12px;
    background: #f8f8f8;
    border-top: none;
    border-radius: 0;
    left: -130px;">
                          <li><a href="#/company-settings">Company settings</a></li>
                          <li><a href="#/add-user">Add user</a></li>
                        </ul>
                 </span>
                      <span ng-if="auth.isLoggedIn" style="border-left: 1px #ccc solid; padding-left:7px">
                          <a href="#/profile" ng-class="location.$$url == '/profile' ? 'active' : ''"><i class="fa fa-user" style="font-size:24px"></i> </a>
                        </span>
              </span>


          </div>
        </div>
            
      </div>
