<!-- Add your site or application content here -->
    <!-- <div class="header"> -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">orderBook</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#/home" ng-class="location.$$url == '/home' ? 'active' : ''">Home</a></li>
              <li ng-if="auth.isLoggedIn"><a href="#/dasboard" ng-class="location.$$url == '/dashboard' ? 'active' : ''">Dashboard </a></li>
              <li><a ng-href="#/about" ng-class="location.$$url == '/about' ? 'active' : ''">About</a></li>
              <li><a ng-href="#/contact" ng-class="location.$$url == '/contact' ? 'active' : ''">Contact</a></li>
              <li><a ng-href="#/login" ng-if="!auth.isLoggedIn" ng-class="location.$$url == '/login' ? 'active' : ''">Login</a></li>
              <li><a ng-click="logout();" ng-if="auth.isLoggedIn">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    <!-- </div> -->